* {
    box-sizing: border-box;
}
html {
    scroll-snap-type: y mandatory;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.grid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 50vw 50vw;
    text-align: center;
}
.col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0 10%;
    scroll-snap-align: start;
}
.l {
    grid-column-start: 1;
    grid-column-end: 2;
}
.r {
    grid-column-start: 2;
    grid-column-end: 3;
}
/*.col:nth-child(4n+4),
.col:nth-child(4n+1) {
    background-color: blueviolet;
}*/
.col * {
    width: 100%;
}
.h1 {
    font-size: 3.7vw;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 2vw;
}
.h2 {
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}
.h3 {
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}
.blue {
    color: #241C5C;
}
.grey {
    color: rgb(64, 64, 64);
}
.white {
    color: #FFFFFF;
}
.white-bg {
    background-color: #FFFFFF;
}
.grey-bg {
     background-color: rgb(64, 64, 64);
 }
.blue-bg {
     background-color: #241C5C;
 }
#slide3 {
    align-items: flex-start;
}
.nadpis {
    font-size: 2.5vw;
    font-weight: 600;
    margin: 6vw 0 3vw;
}
form {
    text-align: left;
}
/*.form-label {font-size: 1.3vw;}*/
.form-input {
    background-color: rgb(210, 245, 44);
    margin: 0.5vw 0 2.5vw 0;
    padding: 1vw;
    font-size: 2vw;
    border: none;
}
.form-check-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}
.form-check-label:last-child {
    margin-bottom: 0;
}
.form-check-d {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.form-check {
    position: relative;
    height: 25px;
    width: 25px !important;
    border: rgb(210, 245, 44) solid 5px;
    transition: background-color 0.4s, border 0.4s;
    transition-timing-function: ease;
}/*
.form-check-label:hover input ~ .form-check {
    background-color: rgba(210, 245, 44, 0.8);
    border: rgb(210, 245, 44) solid 0;
}*/
.form-check-label input:checked ~ .form-check {
    background-color: rgb(210, 245, 44);
}
.form-check-text {
    padding-left: 10px;
}
.form-button {
    background-color: rgb(210, 245, 44);
    margin: 3vw 0 0 0;
    padding: 1vw;
    font-size: 2vw;
    text-align: center;
    border: none;
}
.embed {
    position: relative;
    padding: 0;
}
#profesia_embed {
    display: flex;
    padding: 0;
    margin: 12vh 0 0;
    overflow: scroll;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
}
.embed_topbar {
    background-color: rgb(210, 245, 44);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    text-align: left;
}
.embed_topbar_title {
    display: inline;
    width: 70%;
    padding-left: 25px;
    font-size: 2vw;
    font-weight: 600;
}
.embed_topbar_QR {
    display: inline;
    width: 30%;
}
.embed_card {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "nadpis cena"
        "popis cena";
    position: relative;
    width: 80%;
    text-align: left;
    text-decoration: none;
    margin: 15px 0;
    padding: 15px 25px;
    -webkit-box-shadow: 0 11px 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 11px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 0 11px 20px 0 rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
}
#profesia_embed a:hover {
    -webkit-box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.2);
}
.list_title {
    grid-area: nadpis;
    margin: 0 0 10px;
}
.list_loc {
    grid-area: popis;
}
.list_money {
    grid-area: cena;
    color: rgb(210, 245, 44);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}